<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Document</title>
</head>
<body>
  {% if user.is_authenticated %}
    <center><h2>Witamy w hotelu</h2></center>
    <p>Witaj, {{ user.username }}!</p>
    <h4>Twój pokój:</h4>
    <div>
      Numer pokoju: {{ pokoj.numer }} -
      {% if pokoj.czy_wolny %}
        Dostępny
      {% else %}
        Niedostępny
      {% endif %}
    </div>
    <p><a href="{% url 'join_room' %}">Zarezerwuj pokój</a></p>
    <p><a href="{% url 'wylogowanie' %}">Wyloguj się</a></p>
  {% else %}
    <p>Musisz być zalogowany, aby zobaczyć tę stronę.</p>
  {% endif %}
</body>
</html>